.portal-edit-index-container {
    height: 100%;
    width: 100%;

    .edit-content-container {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100%;
    }
}