.portal-index-container {
    height: 100%;

    .content-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center;

        .page-title {
            font-size: 20px;
        }

        .statist-container {
            display: flex;
            justify-content: space-around;
            width: 80%;

            .statist-number {
                width: 100%;
                font-size: 30px;
                text-align: center;
                color: #218cfe;
            }

            .total-number {
                margin-top: 15px;
            }
        }

        .bottom-container {
            display: flex;
            width: 80%;
            justify-content: center;
            position: relative;

            .configure-entry-container {
                display: flex;
                height: 130px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;

                .entry-button {}

                .entry-text {
                    font-size: 14px;
                    margin-top: 10px;
                }

            }

            .link-container {
                position: absolute;
                right: 0px;
                height: 130px;
                display: flex;
                justify-content: center;
                align-items: center;

                .qr-code {
                    background-color: aqua;
                    width: 70px;
                    height: 70px;
                }

                .link-operations {
                    display: flex;
                    height: 70px;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-left: 20px;
                }
            }
        }



    }



}